
body {
	background-color: #D5D3D3;
	font-family: Arial;
	font-size: 18px;
	padding: 0;
    margin: 0;
	
}


.general {
	width:950px;
	height: 900px;
	margin:40px auto 40px auto;
	border-radius: 40px;
}

.main {
	width: 450px;
	margin:0 auto;
}

.general:hover {
	background-color: #E1DFDF;
}


img {
	border:5px;
	width: 150px;
	padding-left: 150px;
}


h1 {
	font-style: italic;
	padding-top: 40px;
	text-transform: uppercase;
	text-align: center;
}


h1, h3 {
	font-family: serif;
}

.goIt {
	text-decoration: none;
	color: #8C8888;
	font-size: 20px;
}

.goIt:hover {
	font-weight: bold;
	font-size: 25px;
}


h3 {
	font-size: 22px;
	font-weight: bolder;
	
}

span {
	line-height: 25px;
	color: #8C8888;

}

ul {
	margin: 0 0 20px 0;
}


li:hover {
	color:#3849EA;
}


.info {
	color: #8C8888;
	font-size: 20px;
	margin-left: 45px;
	font-size: 18px;
}

.content{
	border-bottom: 1px solid #8C8888;
	margin-bottom: 20px;
}

.infoLink {
	margin-left: 45px;
	text-decoration: none;
	color: #3849EA;
}

.infoLink:hover {
	color:#2CD7E2;
	text-decoration: underline;
}